<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        .current {
            color: orange;
        }
    </style>
</head>

<body>
    <div id="app">
        <fruit-list :list="list">
            <template slot-scope="slotProps">
                <strong v-if="slotProps.info.id==3" class="current">{{slotProps.info.name}}</strong>
                <span v-else>{{slotProps.info.name}}</span>
            </template>
        </fruit-list>
    </div>
    <script src="js/vue.js"></script>
    <script>
        /* 作用域插槽：
        1、父组件可以对子组件加工处理 
        2、既可以复用子组件的slot，又可以使slot内容不一样*/
        Vue.component('fruit-list', {
            props: ['list'],
            template: `
                <ul>
                    <li :key='item.id' v-for='(item,index) in list'>
                        <slot :info='item'>{{item.name}}</slot>
                    </li>   
                </ul>
            `
        })
        var vm = new Vue({
            el: '#app',
            data: {
                list: [{
                    id: 1,
                    name: 'apple'
                }, {
                    id: 2,
                    name: 'orange'
                }, {
                    id: 3,
                    name: 'banana'
                }]
            }
        })
    </script>
</body>

</html>